<div class="container">
  <table class="table">
    <thead>
      <tr>
	<td>Principle Parts</td>
      </tr>
    </thead>
    <tr>
      <td><%= @verb.first %></td>
      <td><%= @verb.second %></td>
      <td><%= @verb.third %></td>
      <td><%= @verb.fourth %></td>
    </tr>
  </table>
</div>
